<body>
    <button onclick="window.location.reload()">Run CoinFrog</button>
    <div id="terminal"></div>

    <div id="content">
        <noscript>
            <p>Sorry, JavaScript is not enabled!
                <br>
                Please enable JS in order to use CoinFrog
            </p>
        </noscript>
    </div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running CoinFrog...');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();

        const content = document.getElementById("content");
        const resize = document.createElement("section");
        resize.innerHTML = `
            <p>
                Sorry, CoinFrog requires a minimum screen size of
                <br>
                750 pixels
                <br>
                &#215;
                <br>
                750 pixels
            </p>
        `;
        content.insertBefore(resize, content.childNodes[1]);
    </script>
</body>
